extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | Mekanbul 
          small &nbsp; Yakınlarındaki Mekanları Bul!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Kuru Kahveci Mehmet Efendi
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km
        p.adress Centrum Garden AVM
        p
          span.label.label-warning Kusursuz Kahve
          | &nbsp;
          span.label.label-warning Lezzetli Tat
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Gloria Jeans
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 2km
        p.adress IyaşPark Avm
        p
          span.label.label-warning Lezzetli
          | &nbsp;
          span.label.label-warning Takeaway
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item      
        h4 
          a(href='/mekan') Kahve Dünyası
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 5km
        p.adress Isparta
        p
          span.label.label-warning Sodexo
          | &nbsp;
          span.label.label-warning Kahveleri süper...